<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/pageLayout"><!-- layout文件路径-->
<head>
    <title>首页</title>
</head>
<body>
<div layout:fragment="content" th:object="${session.user}">
    <table>
        <tr>
            <td>姓名：</td>
            <td th:text="*{userName}">姓名</td>
        </tr>
        <tr>
            <td>密码：</td>
            <td th:text="*{passWord}">密码</td>
        </tr>
        <tr>
            <td>邮箱：</td>
            <td th:text="*{email}">邮箱</td>
        </tr>
        <tr>
            <td>别名：</td>
            <td th:text="*{nickName}">别名</td>
        </tr>
        <tr>
            <td>注册时间：</td>
            <td th:text="*{regTime}">注册时间</td>
        </tr>
    </table>
</div>
</body>
</html>