<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>页眉</title>
</head>
<body>
<div id="header" th:fragment="header" >
    <h1 id="title">Spring-Boot-Demo</h1>
    <div th:object="${session.user}" id="userInfo">
        <input type="hidden" id="userId" th:value="*{id}">
        <a id="userName" th:text="${session.user.userName}" th:href="@{'/getUserInfo?id='+*{id}+'&action=self'}">用户名</a>
        <span><a th:href="@{/}">退出登录</a></span>
    </div>
</div>
</body>
</html>